
@font-face {
  font-family: "Noto Sans Ambassadori";
  font-style: normal;
  font-display: swap;
  src: url(https://usernamenotavailable12.github.io/Font-Repository/NotoSansAmbassadori-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}
.carousel {
  width: 100vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  user-select: none;
}
@media (max-width: 768px) {
  .carousel {
    width: 100vw;
    border-radius: 10px;
    scale: .95;
  }
  .slide {
    min-width: 50vw;
  }
}


.slides {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.slide {
  min-width: 100vw;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  cursor: grab;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.caption {
  margin-top: 10px;
  font-size: 1.2em;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Remove default link styling */
.slide a {
  display: block;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  .carousel {
  img {
      height: 220px;
      object-fit: cover;
  }
}
}

/* Position the indicators container at the bottom center */
#indicators {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 100;
}

/* Style for each dot */
.indicator-dot {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 2px;
}

/* Active dot styling */
.indicator-dot.active {
  background-color: rgba(255, 255, 255, 1);
}


#counter {
  position: absolute;
  top: 5%;
  right: 3%;
  background: #0000005e;
  color: white;
  padding: 11px 16px;
  border-radius: 5px;
  z-index: 100;
  border-radius: 42px;
  font-family: 'Noto Sans Ambassadori';
  font-size: 14px;
  border: 1px solid rgba(255,255,255,.2);
}
@media (width < 768px) {
  #counter {
    font-size: 10px;
    padding: 8px 12px;
    background: #00000091;
    right: 10px;
    padding: 7px 10px;
  }
  .indicator-dot {
    width: 13px;
  }
}